[2018-05-29 13:55] lincanli opened #1 "when centerVertically, initial loading view does not show"
Hi, thanks for this great lib. But this problem still exists, could you look into it?
themyth92/angular2-lightbox#46

Update: I am currently using semantic UI, I wondering if that conflict with lightbox (css). I'll look into this.

[2018-05-30 03:59] themyth92 commented on #1
Can you try it without the semnatic ui ? Most likely it is css conflict but I am not really sure.

[2018-06-12 12:47] vugar005 opened #2 "Styles are not imported"
Hi .
I am trying to import styles for lightbox.css. In angular.json:
[code]
But the styles are no imported so the modal is not shown.
But strange is when I import styles from lightbox.css to styles.scss it works.
Other styles such as bootstrap and animate works.
Also removed bootstrap and animate. still does not solve.
[code]
It is so strange. Anyone has idea what is wrong ?
thanks

[2018-06-13 04:41] themyth92 commented on #2
Can try putting it before your `scr/styles.scss` ?
[code]

[2018-06-14 11:51] vugar005 commented on #2
@themyth92
Thanks so much it worked!

[2018-06-14 12:36] themyth92 commented on #2
Ok, glad it is sold. Close this issue for now !

[2018-06-14 12:36] #2 closed

[2018-06-21 11:40] Nipplechips opened #3 "Styles not displaying lightbox assets"
I have implemented this lightbox as per the attached guide.  I receive no errors during usage.  When i click on my image, my "open" function is executed as expected.  However, all that happens on-screen is my HTML page grows in length and I can see the lightbox html elements injected into the bottom of my page, but nothing displays.

My project is using scss instead of css but as per Issue #2, i h

[2018-06-26 13:58] richardlnnr opened #4 "Make IAlbum.thumb optional"
Hi, thanks for this great lib.

Could you make the thumb  property of class IAlbum  optional?

Thanks.

[2018-06-27 02:29] themyth92 commented on #4
Can i have your use case here ? I no thumb, how can you click on the image ?

[2018-06-27 11:45] richardlnnr commented on #4
I don't use thumb to display my image.
The src do that.

[2018-06-27 12:19] richardlnnr opened #5 "Scroll when open lightbox"
Hi!
When i open my lightbox, the lightboxOverlay generate an scroll in my page.

The page, without scroll.
![image](https://user-images.githubusercontent.com/6029690/41973129-7b3b42ae-79ea-11e8-9b43-0c1dad07986c.png)

The lightbox open
![image](https://user-images.githubusercontent.com/6029690/41973168-93e5de90-79ea-11e8-9b74-c4b5e7aa9a30.png)

The lightbox open with disableScrolling: true.
In thi

[2018-06-28 02:32] themyth92 commented on #5
Ok tks. I will take a look. Normally something to do with styling I guess.

[2018-06-28 02:36] themyth92 commented on #4
Hmm if that is the case, can you make the `thumb` url to equal `src` url ? So your thumbnail is just your src image ?

[2018-07-25 06:50] tom94zoe opened #6 "Lightbox keep opened on back navigation"
Hi,

I open a lightbox at a detailsview.
If I swipe back to the previous view (Safari - back navigation - iPhone iOS 11.x) the lightbox keeps open.

How can I ensure that the lightbox can only be open at the detailsview?
Is there a way to close the lightbox programmatically or to inject the lightBoxModule only for this one detailComponent without creating a new module?

Thank you

[2018-07-25 21:50] mjdiaz25 commented on #5
Is there any update on this issue? I'm facing this same behaviour.

[2018-07-27 06:50] themyth92 commented on #5
Sorry I just take a look. Can try to change the `fitImageInViewPort` to true. Seems like on your image, that value is manually set to false.

[2018-07-27 06:51] themyth92 commented on #5
If you `fitImageInViewPort` to false, it will use the real image width from you image and dont really care abt the window viewport width.

[2018-07-27 07:18] #6 closed

[2018-07-27 07:23] themyth92 commented on #6
There is new method `close` which u can use to close lightbox programatically. Please pull latest version. Tks

[2018-07-30 18:55] songoo commented on #3
Same problem :o , (lathought i have .angular-cli.json not angular.json)

[2018-07-30 18:56] songoo commented on #3
Ohh, nvm, i had to ctrl-c and clean start, all ok after :)

[2018-08-08 06:48] michalstepien opened #8 "Rotate image"
Hi, great work.  I think it could be nice if we have possibility rotating image.

[2018-09-25 07:51] #3 closed

[2018-09-26 13:39] #4 closed

[2018-09-26 13:40] themyth92 commented on #4
Feel free to open if you still any issues

[2018-11-05 04:00] shivarajnaidu opened #9 "Not Working With Angular 7"
This library not working with angular 7.. And Examples also have mistakes

[2018-11-07 03:06] themyth92 commented on #9
What you mean by not working ? What error you saw ? What part of example has mistake ?

[2018-11-07 18:14] shivarajnaidu commented on #9
Simply even not throwing errors.. Nothing happening.. and examples also have errors.. Type errors

[2018-11-08 02:17] themyth92 commented on #9
Can you show me which part of the example have errors ?

[2018-11-08 02:17] themyth92 commented on #9
Did you include the CSS file into your html ?

[2018-11-08 02:18] themyth92 commented on #1
Closed, feel free to open if you still experience any issues

[2018-11-08 02:18] #1 closed

[2018-11-08 02:18] #5 closed

[2018-11-08 02:19] themyth92 commented on #9
https://github.com/themyth92/ngx-lightbox#installation

[2018-11-12 19:27] PierreChavaroche opened #11 "Not building with "ng build --prod" - Angular 7"
Hello,

firstly, thanks for this great lib. I'll really enjoy to use it!

Unfortunately I'have a problem since I updated to Angular 7 (and "@angular-devkit/build-angular" to 0.10.5)

**Error when trying to build with "ng build --prod"**:
"lightbox-overlay.component.ngfactory.js is missing from the TypeScript compilation. Please make sure it is in your tsconfig via the 'files' or 'include' property

[2018-11-13 07:45] PierreChavaroche commented on #11
That would be awesome. Thank you very much!

[2018-11-13 09:11] themyth92 commented on #11
Hi there, i have tried locally and it seems fine. However, it only works after i do `ng update`. Can you check on your local after you do update everything, the package still throws any Error ?
Here are the versions that I am using:
[code]

[2018-11-14 15:39] PierreChavaroche commented on #11
Hi @themyth92 ,
the problem has been solved.

I've updated everything with ng update.
Furthermore I've deleted symlinks to the node_modules folder, which are not necessary with Angular 7 anymore.

In opposite to the error message it is likely that the problem did not belong to this lib.

Thank you very much for your fast support and for this great lib!!

[2018-11-14 23:56] themyth92 commented on #11
Anw that is a weird error, seems like all angular related needs to be updated for Angular7 to work.
I will close this issue for now. Let me know if you have any other issues.

[2018-11-14 23:56] #11 closed

[2018-11-14 23:56] themyth92 commented on #9
Close due to no activity from issuer.

[2018-11-14 23:56] #9 closed

[2018-11-15 08:33] janptr opened #13 "Custom ImageNumberLabel?"
Hello guys,

the lightbox-options allow showing the "ImageNumberLabel" (showImageNumberLabel). Is there a way to change the default text "Image IMAGE_NUMBER of ALBUM_LENGTH" of it?

Thanks!

[2018-11-20 05:08] panterozo commented on #8
This would be nice!

[2018-11-20 05:24] panterozo opened #14 "Problems ngModal + ngx-lightbox"
When I open the lightbox in Angular 5, everything is ok, but, when I close it and open a new dialog with ngModal, the lightbox appears again plus the new lightbox from ngModal. Why is that?

[code]
The button save:
[code]

The dialog that appears:
[code]

And the opening method:

[code]

So, in summary, when I open de **ngx-lightbox** dialog and then open some new dialog with **NgbModal**, the ngx

[2018-11-20 07:38] themyth92 commented on #14
Hmm interesting, I have never used it together with bootstrap. Let me take a look

[2018-11-20 07:39] themyth92 commented on #13
Yes this would be nice to have

[2018-11-21 07:00] #13 closed

[2018-11-21 07:05] themyth92 commented on #13
Should be fixed now, there is an option called `albumLabel` which allow you to change this.

[2018-11-21 12:10] vinothkumarb opened #16 "problem resize the window image not resizing"

[2018-11-21 12:36] themyth92 commented on #16
Which angular version ? Which lightbox options are u using ?

[2018-11-21 14:15] vinothkumarb commented on #16
Angular version ^6.1.0 and "ngx-lightbox": "^1.1.0",
![desktop1](https://user-images.githubusercontent.com/9656876/48846704-2dec6580-edb9-11e8-82b6-3d150534b1f2.JPG)
_lighboxConfig.centerVertically = true;

[2018-11-22 03:38] themyth92 commented on #16
Ok, do you mean when you open lightbox and you resize the window, the image does not auto resize  right ? However if you click the next image, it should fit your current viewport. The same behavior happens for lightbox2 with jquery.

[2018-12-20 14:08] ahmerrkhanzz opened #17 "Can I play video in this plugin ?"

[2018-12-21 03:41] themyth92 commented on #17
No, currenly it only supports image

[2018-12-22 18:32] ahmerrkhanzz commented on #17
Can you add video support for the plugin? It will be a good enhancement.

[2018-12-24 02:48] themyth92 commented on #17
Sorry dont think this feature will be planned as I am still not sure how to do it. For now I try to mimic what features that the lightbox2 module has and port it to angular

[2019-03-23 14:47] azhararmar commented on #5
I have the same issue even when I use fitImageInViewPort set to true

[2019-03-28 17:36] newETA opened #18 "adding extra dom"
Thanks for this beautiful plugin. Since it's completely module-based is there is any way I can add extra HTML elements as like this images right after the image in run time?

![sample](https://user-images.githubusercontent.com/42071761/55179649-49e48700-515e-11e9-897d-dc8827b072c1.PNG)

[2019-04-01 09:56] themyth92 commented on #18
Sorry custom template is not supported yet. Will add in the future.

[2019-04-02 15:24] newETA commented on #18
Thank you so much for the info.

[2019-04-06 06:16] AswinKumar12 opened #19 "Requesting to place custom share button."
Is there anyway to place a custom button in    ngx-lightbox?

[2019-04-12 04:02] themyth92 commented on #19
Not right now though as custom DOM is not yet provided. I will add it in the future.

[2019-04-12 09:38] AswinKumar12 commented on #19
Ok, thank you...!

[2019-04-12 15:40] chiom opened #20 "thumbnails not displayed"
Hello, thanks for this module. I tried to add thumbnails but they are not displayed. How does this feature work?

[2019-04-15 02:22] themyth92 commented on #20
Hello, what do you mean by "it does not work" ? Can you provide your set up and let me take a look ?

[2019-04-15 12:06] chiom commented on #20
Hi themyth92, i mean, when lightbox is open in the modal window,  in addition to the image src and the caption can you  see also the thumbnails?

[2019-04-16 02:26] themyth92 commented on #20
There is no thumbnail to be shown together with the large image. The thumbnail is used originally to click on to show the original image.

[2019-04-16 07:42] chiom commented on #20
Ok, i just wanted to know this. Your module is very useful, in the future this could be a feature that you could add.
Thank you!

[2019-04-16 07:49] themyth92 commented on #20
Cool tks. Right now my feature is just only based on the original light box 2 module, which can be found [here](https://lokeshdhakar.com/projects/lightbox2/)

[2019-04-29 06:46] karthikeyansant commented on #9
lightbox is not working in my angular7 project

[2019-04-29 08:33] #20 closed

[2019-05-09 11:03] omikolaj commented on #9
I am seeing weird behavior with lighthouse in my angular project also. For example whenever I try to open an image the entire overlay of lighthouse dialog has css properties of display: none. I cannot see anything. What i do see, is a second scrollbar showing up and when i scroll all the way down i have huge white space. When i manually enable display: block properties on my image, i can view the

[2019-05-10 03:08] themyth92 commented on #9
@omikolaj I think there maybe some css conflict somewhere. Did you include the [lightbox css](https://github.com/themyth92/ngx-lightbox#installation) into your app ? Also any errors throw from console
@karthikeyansant Seems angular7 working fine for me locally. Not sure what error you saw on your end.

[2019-06-01 04:31] editter opened #21 "Angular 8 compiler error"
I updated to Angular 8 and ngx-lightbox started to throw errors during runtime (build seemed fine), prior to that everything worked great.

From what I can tell its related to lightbox.service.ts but I am not 100% sure.  The attached image shows the error in the browser

![image](https://user-images.githubusercontent.com/4632327/58743678-b8162600-83fb-11e9-9b31-a30152c36d79.png)

[2019-06-01 07:22] agyonov commented on #21
A new version of ngx-lightbox is needed, as with Angular 8, they have move DOCUMENT from '@angular/platform-browser' to '@angular/common'.

BTW ng update shall do it automatically, when ngx-lightbox project is updated/upgraded...

[2019-06-03 13:34] rostalevicek commented on #21
I have the same error. I installed ngx-lightbox@latest into existing Angular 8 project and it throws exactly the same error. Can you help me please? Thanks!

[2019-06-05 10:48] chintanttm commented on #21
I am having the same error after updating my project to Angular 8.

Is there any solution for this?

[2019-06-05 10:50] chintanttm commented on #21
@agyonov I have the latest version installed on my project, I am still having the same issue.

[2019-06-05 11:47] BlackfootPL commented on #21
I've created PR for that...

[2019-06-06 02:56] themyth92 commented on #21
Hi, thank @BlackfootPL a lot for your PR. I am very busy nowadays. Will review and merge ASAP

[2019-06-06 03:06] themyth92 commented on #21
@BlackfootPL got some error when try to run locally. Not sure what is happening.
<img width="1276" alt="Screenshot 2019-06-06 at 11 05 54 AM" src="https://user-images.githubusercontent.com/2434925/59004094-1e130b00-884b-11e9-9757-13037e4d3d21.png">

[2019-06-06 03:56] themyth92 commented on #21
Nvm, need to remove node_modules and run `yarn` again. I will publish new version soon.

[2019-06-06 04:10] themyth92 commented on #21
V2.0.0 has been published to support angular8. Tks to @BlackfootPL

[2019-06-06 04:10] #21 closed

[2019-06-06 04:12] themyth92 opened #23 "Disable scrolling and center vertically does not work"
Report on #22

See the demo as well

[2019-06-08 15:02] Aircliff opened #25 "ReferenceError: Document is not defined"
I am using angular universal for server side rendering, prior to the upgrade to angular 8 everything was working fine, however after the upgrade, whenever i compile and try to run the server file code, it gives me that Document is not defined error. I'm wondering if you're directly using the Document object directly somewhere in the library.

`     ...
        __param(6, core_1.Inject(common_1.DOC

[2019-06-10 02:58] themyth92 commented on #25
Hello, which angular version are u using and which ngx-lightbox version are u using ?

[2019-06-10 02:59] Aircliff commented on #25
i'm using Angular 8 with ngx-lightbox 2.0.0

[2019-06-10 05:48] themyth92 commented on #25
Hmm can u downgrade to v1.x with ngx-lightbox. Is it working for u ?

[2019-06-11 00:59] Aircliff commented on #25
Hi, i tried the downgrade but it didnt work. I got the error below. I downgrade to version 1.2.0 and the angular version was 8.
`"export 'DOCUMENT' (imported as 'i26') was not found in '@angular/platform-browser'`
Also, just fyi, i have been using the 1.2.0 version with angular 7 for months and never run into any issues. This only started when I upgraded to angular 8 and ngx-lightbox v2.0.0.

Not

[2019-06-11 09:32] bartholomej commented on #25
We have exactly the same issue when we building with SSR. We've been using older version for a months with no issues.
*NOT working* with: `Angular 8` + `ngx-lightbox 2.0.0`
Working with: `Angular 7` + `ngx-lightbox 1.2.0`

I've also tried to completly removed `ngx-lightbox` from my project to prove there is no other dependency which causing this problem. And yep... Without lightbox everything work

[2019-06-11 10:15] themyth92 commented on #25
Hi @Aircliff can u post me the full error that u see with angular8 and lightbox 2.0.0 ?

[2019-06-11 23:14] Aircliff commented on #25
@themyth92, below is the error im getting
`/Users/myfolder/Desktop/apps/myapp/build/server.js:139193
            Document])
            ^

ReferenceError: Document is not defined
    at /Users/myfolder/Desktop/apps/myapp/build/server.js:139193:13
    at Object../node_modules/ngx-lightbox/lightbox.component.js (/Users/myfolder/Desktop/apps/myapp/build/server.js:139196:2)
    at __webpack_require__

[2019-06-12 02:50] themyth92 commented on #25
Hmm it may relate to this https://github.com/angular/universal/blob/master/docs/gotchas.md but it is weird that angular7 does not raise the issue.

[2019-06-13 03:19] Aircliff commented on #25
@themyth92 I think src/lightbox.service.ts:23 this line **@Inject(DOCUMENT) private _documentRef: Document** might be the cause, the Document object looks like its not imported. I also see being used in a couple of other places like **src/lightbox.component.ts** so im wondering if that could be causing it.

[2019-06-13 09:23] themyth92 commented on #25
The document is injected from https://github.com/themyth92/ngx-lightbox/blob/master/src/lightbox.component.ts#L13. Anw, are u try to use lightbox on server code ?

[2019-06-13 10:38] bartholomej commented on #25
@Aircliff I had the same idea. But it is just a 'type', so...

@themyth92 Aircliff was talking about the **type** `Documet` not about the **token** `DOCUMENT` `@Inject(DOCUMENT) private _documentRef: Document`

In the official documentation they are using it inconstitently. Sometimes `Document` sometimes just `any`.

As well as you :)

Any: https://github.com/themyth92/ngx-lightbox/blob/551860f1d2

[2019-06-18 13:43] MsumanP opened #26 "Close button Placement & custom css implementation"
Is there any way to put the close button to top-right side corner & use custom css ?

[2019-07-08 05:51] tigrenok00 opened #27 "Scrolling page issues"
Hi,
I have a gallery of photos which of course can be scrolled, and a lightbox opened on photo clicked. The problem is that when lightbox opens, the whole page scroll jumps back to top. Unless disableScrolling is set to false. However, I do want the scrolling to be disabled, because otherwise it scrolls the page together with the lightbox.
In summary, I want to to use disableScrolling  = true, but

[2019-07-09 17:50] tigrenok00 commented on #23
Same here, I actually opened an issue about disable scrolling and now noticed that center vertically has some issues as well. When could you issue a fix for this?
Thank you!

[2019-07-10 08:06] tigrenok00 opened #28 "Setting to avoid paging when clicking on the image"
Hi,
Is there an option to disable paging to next image when clicking on the image itself? (leave it to the arrows only)
Asking because I want to enable long-press on the image to save on iOS (its native behavior with images), but here it does not work because the image is paged instead.
Thanks!

[2019-07-11 07:01] themyth92 commented on #27
Hi there, sorry as nowadays I am very busy and not have time to look at these issues. Will try to do it but if you can have PR to fix this, it will be more than welcomed. Thanks

[2019-07-17 22:26] eyho commented on #27
Overriding
[code]
might solve the problem somewhat, however, there's a reason that the position is set to fixed in lightbox.css, as the author's comment says; the scrolling may broke if you're browsing on iOS. Couldn't reproduce though since I don't have iPhone.

[2019-07-19 04:06] themyth92 commented on #26
Yes probably use custom css to override the `.lb-close` class.

[2019-07-19 04:07] #23 closed

[2019-07-19 04:12] themyth92 commented on #27
should be fixed on 2.0.1

[2019-07-19 04:18] MsumanP commented on #26
I am not good in CSS. But I tried. Any help ?

[2019-07-25 02:29] #27 closed

[2019-07-25 11:21] manueltg89 commented on #25
Same problem. Any solution?

Thanks.

[2019-07-25 21:37] narekharutyunyan opened #31 "There is no way to stop event propagation"
I've my lightbox control in modal modal dialog and when I press "Esc" it closes both lightbox and dialog.

I would be great if you can extend **this._lightboxEvent.broadcastLightboxEvent** method to pass $event as well **this._lightboxEvent.broadcastLightboxEvent({..., $event: $event})** so **preventDefault()** can be called.

 L```
ightboxComponent.prototype._keyboardAction = function ($event) {

[2019-07-30 16:49] islaza commented on #9
Same issue here, my lightbox is not working, I'm getting a undefined error.
I'm using angular 7 and "ngx-lightbox": "1.2.0"

I included the css in my component:
@Component({
    selector: 'product-damage',
    templateUrl: './productDamage.component.html',
    styleUrls: [ '../../../../node_modules/ngx-lightbox/lightbox.css'],
    moduleId: module.id.toString()
})

My array of images look like tha

[2019-07-30 16:53] paoespinoza opened #32 "Lightbox not opening image modal"
My lightbox is not working properly when I click on the image to open the modal, I'm getting several errors.
I'm using angular 7 and "ngx-lightbox": "1.2.0"

**I included the css in my component:**
@component({
selector: 'application-damage',
templateUrl: './productDamage.component.html',
styleUrls: [ '../../../../node_modules/ngx-lightbox/lightbox.css'],
moduleId: module.id.toString()
})

**My ar

[2019-07-31 02:51] themyth92 commented on #32
Hi there, if u can have a repo for your problem so that i can take a look, that would be awesome. Right now I have no way to know as it works fine on my local machine

[2019-08-03 13:55] marcosrbertuol commented on #8
I could use that. I need to do something like transform: rotate(90deg) in mobile applications. Is there a way to do it?

[2019-08-06 22:06] Rlcolli4 commented on #25
Having the same issue with our website, has there been any more advancements on it?

[2019-08-08 04:08] #16 closed

[2019-08-08 04:08] themyth92 commented on #16
Close as no activity

[2019-08-11 07:28] imrahulmpawar opened #33 "ngx-lightbox not working with Angular 7"
Hi,
I installed ngx-lightbox as per the instruction listed [here](https://github.com/themyth92/ngx-lightbox#installation).
also,Included the style css line in angular.jon.

Then setup the project as mentioned [here](https://github.com/themyth92/ngx-lightbox#usage).

Now in my custom component class following line fails :
<pre>
export class LightboxComponent
{
  _albums: Array<album>;
  constructor

[2019-08-11 07:40] imrahulmpawar commented on #33
Is this below code missing a "@Injectable" ?
<pre>
@Injectable <==== ?
export declare class Lightbox {
    private _componentFactoryResolver;
    private _injector;
    private _applicationRef;
    private _lightboxConfig;
    private _lightboxEvent;
    private _documentRef;
    constructor(_componentFactoryResolver: ComponentFactoryResolver, _injector: Injector, _applicationRef: ApplicationRef,

[2019-08-11 08:18] imrahulmpawar commented on #33
This got resolved !
Not sure how/why but i did following :
<pre>npm install ngx-lightbox@2.0.0</pre>

even though the installation page said to use ngx-lightbox@1.2.0 for angular 7 as mentioned [here](https://github.com/themyth92/ngx-lightbox#version).

[2019-08-11 08:18] #33 closed

[2019-08-11 08:19] imrahulmpawar commented on #9
Try [this](https://github.com/themyth92/ngx-lightbox/issues/33) it worked for me.

[2019-08-12 02:15] themyth92 commented on #32
Also could u try to use lightbox 2.0.0 instead as someone has luck with that version for angular7

[2019-08-12 09:00] themyth92 commented on #25
Hi there, i just try on my end with some modification from the guide [here](https://angular.io/guide/universal) and seems no issue at all. Perhaps if anyone can provide me a small repo example to replicate the issue, that would be great

[2019-08-12 12:07] Rlcolli4 commented on #25
Locally there isn’t an issue for me either, it is only when I deploy the code to my production environment do I have problems with this. It’s killing our servers.

[2019-08-13 02:58] themyth92 commented on #25
Sorry i still can not replicate this issue on my local. Is there any way that you can create a sample repo ? Thanks

[2019-08-13 03:07] Rlcolli4 commented on #25
The issue cannot be recreated localy, it takes deployment to a server environment with production builds. I can produce a repo however, without deployed code on a server in a production environment, it cannot be replicated from my experience so I do not see how making a repo will allow you to see this fixed.

[2019-08-13 03:54] themyth92 commented on #25
Hmm then that is weird when it works on local but not on prod. Could you please check if the command you run on local is the same as on prod and try to run that command from prod on your local instead.

[2019-08-13 15:19] Rlcolli4 commented on #25
So we use pm2 to rerun our service when it fails or our node server struggles to run. The command that gets run on our servers is `pm2 restart Sitesusa-Dev-SSR` which just runs `npm run serve:ssr` which runs the following command as defined in our package.json `node dist/server.js`

After going back and forth on the thread I did do a clean install (removed my node modules and package-lock and rera

[2019-08-14 10:14] mnyamor opened #34 "Demo modal footer width breaking intermittently"
![image](https://user-images.githubusercontent.com/1608156/63013360-bb666d00-be94-11e9-9ac3-4006d6585b7a.png)

![image](https://user-images.githubusercontent.com/1608156/63013500-05e7e980-be95-11e9-8da0-708f807f05c3.png)
![image](https://user-images.githubusercontent.com/1608156/63013595-3c256900-be95-11e9-9243-825b8b513981.png)

The lb-dataContainer and lb-outerContainer widths are not synchnoriz

[2019-08-14 10:46] themyth92 commented on #34
Hello, how can i replicate this issue as it should be synchronized

[2019-08-14 12:00] mnyamor commented on #34
Hi,
You could create a gallery with over 20 images and have them with different dimensions/ sizes. Once you have that, try navigating the gallery fast or using keyboard or the arrows.

[2019-08-15 03:19] themyth92 commented on #34
Right ok tks

[2019-08-23 09:27] nectorosales commented on #9
Hello, the truth is that I do not waste time making many comments, but the lightbox does not work properly in Angular 7 and the example described has some errors such as the variable "_albums" where it is initialized, you ate an "s". I would not recommend the use of this library

[2019-08-23 10:14] themyth92 commented on #9
Hey @nectorosales, if you think the library has error, you can submit PR to fix it instead of staying here and complains about a "typo". Thanks.

[2019-08-23 14:47] nectorosales commented on #9
Hello @themyth92, not just a typographical error, this library is adapted to a specific object that should carry the src parameter "{ src: "url-image" }" and does not give you the freedom to specify the route as you want. If I have an object with the parameter name "{ name: "name-image"}" I already have to make changes to adapt the library. Still I have to say that it works very well but I would a

[2019-08-27 05:55] cozzbie commented on #25
Hi @themyth92, I am trying to add a fix for this but I get an error when I try to use a fork and run the `prepublishOnly` command.

[code]

Here I am using a local fork of the repo and `npm link`ing it but being stuck at this point.

Thanks

[2019-08-27 07:10] themyth92 commented on #25
Hi @cozzbie you want to fix this issue ?
Why you want to run the `publish` command, can u just create a PR instead. I will be very happy to merge.

[2019-08-27 07:42] cozzbie commented on #25
Yes. I would like to fix it but I am having issues testing it locally and I need some guidance on how to work with locally as it does not follow conventional lib structure. Can you please share a guide as to how to test it locally using `npm link`? @themyth92

[2019-08-27 08:02] themyth92 commented on #25
I have no idea why you would like to use npm link for.
To run the application just do **npm start** and go to **localhost:4200**. All the code you can see it in the **demo** folder which use directly the **src** folder.

[2019-08-27 08:14] cozzbie commented on #25
It's simple really. I need to test this issue using Angular Universal which means I have to build this task against another project and see if it works. For this I will need to do project type build for this. `npm link` will help me work with this package as if I am using a `npm installed` version of it. If there is a better workflow to test this against another project using Angular Universal, pl

[2019-08-27 08:27] themyth92 commented on #25
Hey @cozzbie , sorry i can not help you on this matter.
What i do locally to test with Angular Universal is to follow the tutorial from https://angular.io/guide/universal and add the lightbox library in src folder. But perhaps it is not the right way to figure out the problem is ...

[2019-08-27 08:29] cozzbie commented on #25
Ah I see. That sounds ideal too. Thanks for that input. @themyth92

[2019-08-27 16:39] cozzbie commented on #25
I have a fix for this. Will make a PR in a bit and I hope it does not break something else. Haha.

[2019-09-04 07:14] jbagaresgaray commented on #25
@cozzbie ... any news on the PR? That would be a great help... Thanks in advance

[2019-09-04 08:00] cozzbie commented on #25
PR is here @jbagaresgaray https://github.com/themyth92/ngx-lightbox/pull/37. Sorry its late. Got caught up. @themyth92 please review.

[2019-09-04 09:39] themyth92 commented on #25
Yay thanks a lot @cozzbie , I will review asap

[2019-09-04 10:54] themyth92 commented on #25
Hi guys, can u try v2.1.0 and see if it solves the problem. Tks.

[2019-09-04 14:45] Rlcolli4 commented on #25
@themyth92 I was able to compile my server side rendering code without the error from your node module. It appears that the PR worked in my case. Thanks for hearing us out and getting it out there. @cozzbie Thanks for taking a look at this and getting it handled.

[2019-09-14 11:33] kombasltd opened #38 "Lightbox with images from html content from database?"
Hi,

in your demo you put the images into an array in the component. For my case I load html content (a blog post) with linked images from an API, so I get the complete HTML code, and I like to display the large versions of the images with lightbox. Is this possible?

Best regards,
Kay

[2019-09-18 02:47] themyth92 commented on #38
Sorry i dont understand what you mean. So you mean u have a html content, and there are images in that html content and you want to display those images on lightbox ?

[2019-09-18 06:13] kombasltd commented on #38
Yes, exactly that.

[2019-09-18 07:01] themyth92 commented on #38
I think the way around is to extract the images as url since lightbox has no way to do that itself. Is it an url right ?

[2019-10-13 14:13] #25 closed

[2019-10-13 14:13] Aircliff commented on #25
this issue has been resolved.

[2019-10-13 14:28] Aircliff opened #39 "lb-disable-scrolling class not removed from html when modal is closed."
In the lightbox config when i set `lightboxConfig.disableScrolling = true` and i open a photo, it works as expected, theres no scrolling whatsoever and the html tag has a class `lb-disable-scrolling` which has `overflow:hiidden`.

The issue is when i close the modal, it doesnt remove the `lb-disable-scrolling`, so i cannot scroll on the page anymore. If i manually remove the `lb-disable-scrolling`

[2019-10-14 10:15] #39 closed

[2019-10-14 10:19] themyth92 commented on #39
Should be fixed with version 2.1.1, thanks @Aircliff for reporting

[2019-10-22 10:14] tomwillwerth commented on #31
Hi, I'm encountering the same behavior - open lightbox from a modal dialog and ESC closes both lightbox and the dialog.

A method to stop the event propagation would be great - maybe pass the vent as suggested, or a new option.

[2019-11-14 12:36] iwoogy opened #41 "Angular Universal : ReferenceError: Document is not defined"
Hello

Thanks for your component, it has been really useful.

I'm about to deploy and I found an issue with Angular Universal.

I got the error ReferenceError: Document is not defined.

![2019-11-14_19-29-39](https://user-images.githubusercontent.com/479162/68857429-54678700-0715-11ea-867f-a9154743a672.jpeg)

![2019-11-14_19-28-47](https://user-images.githubusercontent.com/479162/68857516-84af2580

[2019-11-15 02:38] themyth92 commented on #41
Do you [window](https://www.npmjs.com/package/window) lib installed and import already ?

[2019-11-15 10:43] iwoogy commented on #41
I upgraded ngx-lightbox to version 2.1.1 from 2.0.0 and I installed window too.

![2019-11-15_17-39-33](https://user-images.githubusercontent.com/479162/68937552-2a729b00-07cf-11ea-805f-6fe0e3eb2041.jpeg)

I required window in server.ts

![2019-11-15_17-25-03](https://user-images.githubusercontent.com/479162/68937578-36f6f380-07cf-11ea-9db4-f7427f73d4b3.jpeg)

Then I have this error :

![2019-11-1

[2019-11-18 08:29] themyth92 commented on #41
Hey I dont know whether this error relates to lightbox. Maybe this [issue](https://github.com/webpack/webpack/issues/718) is related ?

[2019-11-19 16:56] iwoogy commented on #41
Could be.

I think it's better to avoid dependencies on window for Angular Universal.

Let's close this ticket.

[2019-11-19 16:56] #41 closed

[2019-11-20 02:47] themyth92 commented on #41
Yeah I agree that using extra dependancy is not really needed. However, if u have any solutions that would not require using `window` dependancy, PR is always welcomed and I would be more than happy to merge it.

[2019-11-26 05:36] geekmindztej opened #42 "Ng test case issue"
No provider for Lightbox!

[2019-11-26 14:15] mnyamor commented on #34
Hi, any updates on this?

[2019-12-23 08:32] pradeepkr1303 opened #44 "Images displayed, but modal is opening at the end of the page."
I have installed the ngx-lightbox v2.1.1 using NPM and also the style array is modified accordingly.

Everything is working fine except for the modal. The images are displayed, but when an image is clicked, the modal is getting added at the end of the document and also it is not displayed.

gallery.componet.html
[code]

gallery.component.ts
[code]

app.module.ts
[code]

angular.json
[code]
I have

[2019-12-23 09:55] #44 closed

[2019-12-23 09:56] pradeepkr1303 commented on #44
The angular server is taking some time to load all required js files. The result is not shown immediately for the first time. Once it gets loads it will work fine.

[2020-01-07 05:34] faizalshap commented on #26
You need to override .lb-dataContainer
[code]

[2020-01-22 12:21] NareshPalle9 opened #45 "lightbox is opened even for image not found error"
How do we handle the lightbox in the event of image not found error comes ?,  lightbox is still opened. I want to disable the click on image in the event of image not found. PFA

<img width="1331" alt="Screenshot 2020-01-22 at 5 54 14 PM" src="https://user-images.githubusercontent.com/57945978/72893940-4307b000-3d40-11ea-9a95-25a37bc2839d.png">

[2020-01-26 08:33] themyth92 commented on #45
The image is only loaded when u click on opening it so I think the best way to do it is to load your image url first in your code and disable the button.

[2020-01-27 16:53] Chewieez commented on #26
One issue with overriding .lb-dataContainer using absolute positioning is then the element is stuck on the far right side of the screen. This works well in mobile in portrait mode, but is way off to the right side when viewing the lightbox on desktop, or even mobile in landscape view. You could use a percentage instead of a pixel amount but we don't know the width of the image, so it's still hard

[2020-02-26 06:00] #45 closed

[2020-02-26 06:00] #38 closed

[2020-02-26 06:01] #32 closed

[2020-03-05 07:44] moshebengan commented on #32
I'm having the same issue
should the photos need to be declare on constructor?
I'm creating array of objects on ngOnInit() because i'm getting the data from http get request
The gallery displayed good - but when tapping on thumbnail - page scroller expands - that's it.

[2020-03-05 08:04] moshebengan opened #47 "modal isn't opening"
I'm loading the photos via http get request from server i've created
i'm storing the json to new array of objects - every object have src, caption, thumb. (src and thumb - same photo)
the gallery looks good - but when tapping on the thumbnail - modal isn't opened - page scroller is expanded.

i'm using angular cli 9.0.4,
ngx-lightbox 2.1.2

maybe the bug caused because i'm setting the array of obj

[2020-03-09 03:12] themyth92 commented on #47
I dont think that is the problem.
Do you have any errors in your console ?.
Do you call `this._lightbox.open(this._albums, index);` like in the example ?

[2020-03-09 08:40] moshebengan commented on #47
no errors,
and i call it exactly like the example

[2020-03-09 08:56] themyth92 commented on #47
Then maybe it is a problem with CSS, maybe the css is conflicting with your current CSS.
Check your DOM if these contents are added:
<img width="957" alt="Screenshot 2020-03-09 at 4 56 00 PM" src="https://user-images.githubusercontent.com/2434925/76197326-e6e0e880-6226-11ea-9cd7-965eabaf57bd.png">

[2020-03-17 16:01] jer-tx opened #49 "Multiple lightboxes open if clickable image is under the first lightbox"
Hard to explain what exactly is happening but, I have a bunch of images on a page (like a gallery), all set up to use lightbox. If you click on one, it opens the lightbox. If you click outside of the lightbox (to close it) and your mouse is over one of the other images, it'll not close the lightbox but instead open _another one_ directly overtop. This is inconsistent though and doesn't always occu

[2020-03-18 02:55] themyth92 commented on #49
Lightbox can only be opened when u invoked it. E.g
[code]

You can look for more example here https://github.com/themyth92/ngx-lightbox#component

I think what you can do is to prevent open lightbox if one is already opened ? Like a flag or something. That way it can only close the lightbox when it is outside the opened modal and not open a new lightbox.
E.g:
[code]

[2020-04-14 17:09] fromage9747 commented on #26
@faizalshap Thank you for providing the class that needs to be modified.

I copied and pasted your code snippet and received the below:

![image](https://user-images.githubusercontent.com/23147783/79253363-47f67e80-7ead-11ea-9c1a-0e4b7daca051.png)

At least with the right class, modifications can be made.  it would be great though if this could be a configurable option.  The image text I would lik

[2020-06-24 08:22] bennawanda opened #52 "No Provider For LightBox"
Hi maintainer,

We are using LightBox in our project, as part of an in-house library. So The issue as stated in the title is that when we use lightbox, as a DI in our shared library, which is then imported in other libraries and parts of the project, when building, we are getting the above error.

This is a case when migrating to Angular 9 from Angular 8, which was compiling without the above erro

[2020-06-25 13:58] unxed commented on #31
I'm working it around by checking if lightbox is open in my dialog close code and ignoring ESC if so.

[2020-06-27 19:13] piotrzuzak commented on #47
This should be definitely lack of css. I have the same issue. Please add css to styles in angular.json as here:
![image](https://user-images.githubusercontent.com/645200/85930220-e85c1c80-b8ba-11ea-85bd-0f4e97cad5cb.png)

@themyth92 , this divs are visible at the bottom of tree dom so it should work for him.

[2020-06-28 07:01] codoffer opened #54 "Getting warning of commonJS"
Getting a warning during serve and production

WARNING in /Library/WebServer/Projects/angular/src/app/shared/shared.module.ts depends on ngx-lightbox. CommonJS or AMD dependencies can cause optimization bailouts.
For more info see: https://angular.io/guide/build#configuring-commonjs-dependencies

Angular CLI: 10.0.0
Node: 12.14.0
OS: darwin x64
Angular: 10.0.1

[2020-06-28 20:49] GUlbricht commented on #54
The Warnings come from Angular 10, because CommonJS maybe slows down your applications.

Info from the Angular Blog: [https://blog.angular.io/version-10-of-angular-now-available-78960babd41](https://blog.angular.io/version-10-of-angular-now-available-78960babd41)

"_When you use a dependency that is packaged with CommonJS, it can result in larger slower applications.
Starting with version 10, we n

[2020-06-29 15:44] cmckni3 opened #55 "`thumb` is not optional on `IAlbum`"
Readme states `thumb` is optional but it is required.

[2020-07-03 19:56] miqm opened #56 "Why Lightbox overlay is calculating max height instead using viewport?"
Hi,

I used this component in my project, but when I open lightbox, it shows me a scrollbar on the overlay even if image is quite small.

I noticed, that to get overlay height you use Math.Max function. However, if one of site's component has a quite long list, it will make the overlay as big as the list.

My question is - why not use 100vh/100vw styles?

[2020-07-10 12:29] RSNFreud opened #58 "Can't resolve all parameters for CaseComponent:"
Can't resolve all parameters for CaseComponent in Location ([object Object], [object Object], [object Object], [object Object], ?).

When removing `    public _lightbox: Lightbox
` its fine.

[2020-07-10 13:22] RSNFreud opened #59 "Update the version"
Please update the version so `npm update` gets the additional feature of zoom/rotate

[2020-07-16 10:22] jakubsobel commented on #59
I'm waiting for this as well. This is a functionality that I need right now and it would be great if the author could push latest version to the npm.

[2020-07-17 04:10] themyth92 commented on #59
I have updated v2.2, the rotation and zoom feature still needs a lot of improvement though so it is up to u to use it or not.

[2020-07-17 04:10] #59 closed

[2020-07-21 13:09] muddymudskipper opened #61 "ExpressionChangedAfterItHasBeenCheckedError when showZoom=true"
I am using Angular 9 and when I set showZoom=true, either in the constructor or when opening a lightbox, I get a `ExpressionChangedAfterItHasBeenCheckedError`. I tried calling `changeDetectorRef.detectChanges()` after opening the lightbox, but it doesn't help. Am I missing something?

`ERROR Error: ExpressionChangedAfterItHasBeenCheckedError: Expression has changed after it was checked. Previous v

[2020-08-06 11:39] RSNFreud opened #63 "Zoom changing height of the image"
Instead of zooming in on the image it makes the image larger which stretches the page downwards... Can it be contained inside a modal that will let it scroll while keeping the window the same height

[2020-08-07 15:17] yadavraju opened #64 "Not able to do content projection"

[2020-08-27 18:49] shafqatjan opened #66 "is there any fullscreen option?"
how to enable fullscreen option and how to disable not to close when click outside?

[2020-08-31 15:34] RabidArts commented on #61
I'm getting the same issue, triggered by the showRotateButton option which is thrown by this line in LightboxComponent.html :
  `<div class="lb-turnContainer" [hidden]="!ui.showRotateButton">`

The issue is that the component internally is attempting to make a change to the model that affects the view but **during** the view generation process. When this happens, angular doesn't know what value sh

[2020-09-01 00:32] themyth92 commented on #61
@RabidArts can create a PR ? I will be happily to merge it. I am very busy nowadays so I will not have time to look at issues

[2020-09-01 00:33] themyth92 commented on #66
No there is no options in lightbox

[2020-09-01 00:33] #66 closed

[2020-09-01 08:36] RabidArts commented on #61
@themyth92 Sure, happy to help fix this :)

[2020-09-04 17:37] muddymudskipper commented on #61
It works now, thanks for the fix.

[2020-09-07 03:08] #61 closed

[2020-10-08 10:34] Pahanbl4 opened #71 "After deploy I have Error"
ERROR Error: Angular JIT compilation failed: '@angular/compiler' not loaded!
  - JIT compilation is discouraged for production use-cases! Consider AOT mode instead.
  - Did you bootstrap using '@angular/platform-browser-dynamic' or '@angular/platform-server'?
  - Alternatively provide the compiler with 'import "@angular/compiler";' before bootstrapping.

![image](https://user-images.githubusercont

[2020-10-12 05:44] doublemcz commented on #71
I am having the same issue - Angular 10. I assume, it has issues with Ivy.

[2020-10-14 11:46] hvsharma63 opened #72 "Download Image Option"
Hello,
I read the documentation, but I didn't find any reference regarding "How to download the image, when image is being viewed"? I mean add a download option.
Is this possible?

If anyone knows, please let me know

Thanks

[2020-11-07 23:17] AbhinavAtul opened #73 "data:image/png;... not working"
1. included the lightbox.css
2. no error on console,
3. tried passing both dataUri = `data:image,....` and safeUrl = `this.domSanitizer.bypassSecurityTrustUrl(dataUri)`, no error on console either

[code]

[2020-11-12 15:11] benbabics opened #74 "Theme Default"
Interesting library choice for the Theme: https://github.com/RLoris/lib-ng-opengallery

[2020-11-20 12:09] danielehrhardt opened #75 "Angular 11 Compatibility"
`Uncaught TypeError: Cannot set property ɵfac of function LightboxComponent(_elemRef, _rendererRef, _lightboxEvent, _lightboxElem, _lightboxWindowRef, _sanitize...<omitted>... } which has only a getter`

![image](https://user-images.githubusercontent.com/19570043/99798574-87ff9d00-2b31-11eb-9e67-8899ffa0046a.png)

[2020-11-30 17:40] BerndtHamboeck commented on #73
Just a quick hack, if you want to get it up and running:

    LightboxComponent.prototype._validateInputData = function () {
        // if (this.album &&
        //     this.album instanceof Array &&
        //     this.album.length > 0) {
        //     for (var i = 0; i < this.album.length; i++) {
        //         // check whether each _nside
        //         // album has src data or not

[2020-12-01 23:10] MehmetSert commented on #41
I encountered the "window" problem. I solved it using "domino".
I share my files, maybe for someone's benefit.

package.json
![Screenshot at Dec 02 02-08-15](https://user-images.githubusercontent.com/16652871/100807429-5c3eba00-3443-11eb-8668-bee9da7ee33c.png)

server.ts
![Screenshot at Dec 02 02-07-55](https://user-images.githubusercontent.com/16652871/100807396-4c26da80-3443-11eb-88c3-48ffde21da

[2020-12-13 08:56] shaji-Dev commented on #75
Having the same issue with Angular 11, please fix.

[2020-12-20 12:46] MohammadMoeinFazeli commented on #75
same issue!!

[2020-12-30 17:36] amreid1993 commented on #54
Is there a way to remove this warning?

[2021-01-03 13:51] pierresh commented on #72
I agree, that would be very useful.

[2021-01-04 03:17] themyth92 commented on #72
No way for that at the moment. PRs welcome.

[2021-01-04 03:18] themyth92 commented on #75
PRs welcome !

[2021-01-06 12:15] Mayur123-mg commented on #9
-i am using https://www.npmjs.com/package/ngx-lightbox v2.2.2
-i found a issue "when i click on image it open after close lightbox than again click its working after delay"

[2021-01-07 10:32] Mayur123-mg opened #76 "how to add description text apart from caption ngx-lightbox"
const output = images.map((data) => ({
      src: data.image,
      caption: 'new',
      textProperty:'amus blandit dui in nunc rutrum varius. Morbi volutpat, massa sed sollicitudin scelerisque, quam metus lacinia massa, ac condimentum dolor mi non mauris. Vestibulum in aliquam nunc. Nunc blandit nec sem nec tempor. Cras condimentum erat vitae augue convallis accumsan. Phasellus'
    }))
how to a

[2021-01-08 06:14] tonyshare opened #77 "NullInjectorError: R3InjecterError no provider for lightbox"
## Envirment
angular: 10 or 11

I created a test example of using ngx-lightbox. In the component:
[code]
the project can pass the complie processing.

When I opened the page and got the following error messages:
[code]

[2021-01-08 10:39] tonyshare commented on #77
I solved the the problem for i didn't `import` the `LightboxModule`

[2021-01-08 10:39] #77 closed

[2021-02-01 11:56] mounikamasetti opened #78 "Regarding videos display in light box"
Is lightbox works for videos???how we can retrieve or change the code depends on images/videos type dynamically

[2021-02-01 13:20] themyth92 commented on #78
It does not support videos

[2021-03-03 13:42] gobicodes commented on #63
Any update this ?

[2021-03-11 08:51] Tyounr opened #80 "Suggestion: add slideshow functionality"

[2021-03-16 08:48] santicalvo commented on #54
Hello,

I would also like to get rid of the warning. Is there any way to do it?

Thanks

[2021-04-14 12:39] mathiasm74 opened #82 "Can't rotate - inconsistent use of showRotate and showRotation option"
The documentation says there's a showRotate option, but in the LightboxConfig code it's called showRotation. However setting this option to true does nothing, because the LightboxComponent rely on the non-existent showRotate option.

[2021-05-18 09:02] d4nm0 opened #90 "error injectable"
Hello, I have a lightbox service error I don't know why..

![image](https://user-images.githubusercontent.com/20597792/118623417-83f2c600-b7c8-11eb-8490-c689b352cfb2.png)

[2021-05-20 14:24] labago opened #91 "Angular 11 Renderer2 issue?"
I can't seem to get this to work in Angular 11, I have a very basic setup using the instructions in the README but I get the following errors:

![image](https://user-images.githubusercontent.com/1053978/118995989-91898680-b955-11eb-8ede-ecf88a7db50d.png)
![image](https://user-images.githubusercontent.com/1053978/118995815-6e5ed700-b955-11eb-86e8-0fd144ce953b.png)

Any ideas?

[2021-05-21 13:33] FeliipeAC commented on #91
I manually changed the declarations from _Renderer_ to _Renderer2_ and this error is gone, but the second error is still

[2021-06-02 18:13] nolafs opened #93 "Angular 12 menu hidden and loading indicator not disappearing"
It seem to work under Angular 12 but loading indicator does not hide and the menu never shows up.

[2021-06-03 10:45] nolafs commented on #93
Seems there is an error in sizeContainer method. Looping over the events does not work. Setting enabledTransition to false will make it work in 12

[2021-06-25 13:42] passbhannat opened #98 "Is video Play feature available?"
Hi,
Is video Play feature supported in this library

[2021-09-06 15:16] rramsey commented on #91
Angular 12.2.4 w/ ngx-lightbox 2.0.0 here.  Changing the import in the lightbox.component.ts and lightbox-overlat.component.ts files worked for me.  **BUT** you have to also change the constructor as well so _rendererRef is an instance of Renderer2.

[code]

One I did that, everything worked fine.  There could still be an issue with the Renderer methods/properties not matching Renderer2 100%, but

[2021-09-15 06:53] anton-marchenko opened #102 "[lightboxEvent$]: Property 'id' does not exist on type 'Object' (TypeScript)"
version: 2.4.0

You have a typescript error related with [lightboxEvent$](https://github.com/themyth92/ngx-lightbox/blob/7de497f0eae2622d0812795695431796940c12f6/src/lightbox-event.service.ts#L29)

There is Angular code:
[code]

And typescript compiler indicates about the error with `event.id`:

Obviously. Because `lightboxEvent$: Observable<Object>` insead of `lightboxEvent$: Observable<SomeParti

[2021-09-17 05:50] basant807 opened #104 "Is it possible to display input field and other html elements in lightbox??"

[2021-10-03 13:39] whizyrel commented on #91
Have you made this PR yet? I am having this issue too

[2021-10-03 16:35] whizyrel commented on #91
Apparently, what started the issue for me was the latest version `2.5.0`, going back to `2.4.1` returned ngx-lightbox to the desired state for me though there was the **".../src/app/app.module.ts depends on 'ngx-lightbox'. CommonJS or AMD dependencies can cause optimization bailouts" warning**

[2021-10-04 09:12] jcompagner opened #106 "(peer)depedency now missing from the package.json?"
With the new release 2.5.0 we suddenly have:

An error occurred during the build:
Error: The target entry-point "ngx-lightbox" has missing dependencies:
- ngx-filesaver

because of the pull:

https://github.com/themyth92/ngx-lightbox/pull/103/files#diff-7ae45ad102eab3b6d7e7896acd08c427a9b25b346470d7bc6507b6481575d519R28

I know i can fix this by also including that one in our build, but that is a

[2021-10-04 09:16] jcompagner commented on #106
and if you then just install ngx-filesaver you get:

✖ Compiling with Angular sources in Ivy partial compilation mode.
node_modules/ngx-filesaver/src/filesaver.service.d.ts:1:34 - error TS2307: Cannot find module 'file-saver' or its corresponding type declarations.

1 import { FileSaverOptions } from 'file-saver';
[code]

[2021-10-04 10:11] themyth92 commented on #106
Sorry can u try to install `file-saver` and `ngx-filesaver` first. I will need to add both to the peer-denpendancy later

[2021-10-04 10:11] themyth92 commented on #106
Or just use 2.4.1 for now. That version is fine.

[2021-10-04 13:49] aleperfetti81 opened #109 "Updating to 2.5.1 broke HttpInterceptor on my app"
Hi all,

tomorrow morning i've upgraded ngx-lightbox from 2.4.1 to 2.5.1 and my HttpInterceptor got broken.
The intercept method defined in it was not called for LazyLoaded modules. It seems there was another package intercepting http requests.

After doing some testing, I found that it was the ngx-lightbox update that caused this problem.
Bringing it back to the previous version solved the proble

[2021-10-05 02:38] themyth92 commented on #109
Hmm probably related to the new package i added to the dependancy list called ngx-filesaver. Not sure how to fix these though, so troublesome with this.

[2021-10-05 07:20] aleperfetti81 commented on #109
Hi themyth92,

from what i read, the problem is the import of HttpClientModule in your main module. You should avoid this.
HttpClientModule should be imported once, from the app importing your ngx-lightbox.

I think it has nothing to do with ngx-filesaver.

[2021-10-05 07:32] themyth92 commented on #109
Hmm i think u are right. I am not really sure why that module is there. Will remove it

[2021-10-05 07:34] aleperfetti81 commented on #109
Very good.
Could you let me know when a new fixed version will be online? So i could give it a try and let you know.

Thanks

[2021-10-14 02:33] saixin opened #110 "don't work with electron, always show loading dialog"
Angular CLI: 12.0.0
Node: 12.18.2
Package Manager: npm 6.14.13
OS: win32 x64

Angular: 12.0.0
... animations, cdk, cli, common, compiler, compiler-cli, core
... forms, material, platform-browser, platform-browser-dynamic
... router

Package                         Version
---------------------------------------------------------
@angular-devkit/architect       0.1200.0
@angular-devkit/build-angula

[2021-10-28 06:18] rakeshbaral92 opened #111 "OnReceived Method not working in angular"
this._subscription = this._lightboxEvent.lightboxEvent$
      .subscribe(event => this._onReceivedEvent(event));

Showing error lightboxEvent$(here).

[2021-10-28 06:28] #111 closed, assigned to nobody

[2021-10-29 09:48] hmsuchier opened #112 "Display an image whose url requires authentication"
Hi,
 Is there a way to display images whose url requires authentication ? In a normal context I use a pipe to catch query and attach authentication token, but is there a way to do such thing with the current lib ?
Thanks !

[2021-11-25 10:52] Roman-Simik commented on #109
I spent almost 3 hours debugging this problem in app and then I found it by rollbacking in git history because I would never imagine that image-gallery library can break whole http , you don' do any testing or what?

[2021-11-26 03:37] themyth92 commented on #109
Hey @Roman-Simik , i am not your employee lol. This is open source, feel free to use something else !

[2021-11-26 03:40] themyth92 commented on #112
Short anwser, NO. I would suggest u can attach the auth token in the image url and let your server to return the image if the auth is correct

[2021-11-26 03:40] themyth92 commented on #110
Feel free to submit PR if u can fix it. Tks

[2021-11-26 04:04] themyth92 commented on #109
@aleperfetti81 Can u try to run again with 2.5.2. Just remove the http module from this lib. Tks. Sorry for the long time, very busy nowadays.

[2021-11-26 09:39] aleperfetti81 commented on #109
@themyth92 i tried wit 2.5.2 and it fixes the problem, thanks ;)

[2021-11-26 09:45] themyth92 commented on #109
Tks a lot @aleperfetti81

[2021-11-26 09:45] #109 closed

[2022-01-02 20:48] yashagldit opened #115 "Angular 13 Warnings *zoom"
In the file [lightbox.css](https://github.com/themyth92/ngx-lightbox/blob/master/src/lightbox.css)

Angular 13 is creating a warning -

[code]

[2022-01-20 05:37] RRakib commented on #115
Just upgraded to angular 13 last day. And yap. This is a legit warning.

[2022-02-03 04:41] chenchuraviteja commented on #110
any solution for this issue

[2022-02-08 01:12] h5aaimtron commented on #26
`.lb-dataContainer {
    position: absolute;
    top:-50px;
    left: 50%;
    transform: translateX(-50%);
}`

This moves it to the top and centers it horizontally. Unfortunately, the lib has issues when resizing into mobile mode. Also has some issues with images overflowing in mobile. Really close though.

[2022-02-08 01:14] h5aaimtron commented on #72
There already exists a download option in the lightboxConfig, however; if the images are behind a host that requires CORS and you're not on the list, you can forget it. The property on the lightboxConfig looks something like:

this.lightboxConfig.showDownloadButton = true;

[2022-02-08 16:02] h5aaimtron commented on #110
I suspect this issue largely depends on how you're using it in Electron. If you're loading from an asar which is effectively a zip, you have to validate your local url. Open your dev tools in electron (ctrl + shift + i) I think that is the key combo and check the console and network tabs.  Make sure the url is right.

[2022-02-08 16:13] h5aaimtron opened #118 "Feature Request: Customizable Toolbar"
I'm using version 2.5.2 and it is pretty decent overall, however; there are a few things that I could see make this even better. The biggest one would be the ability to add controls to the toolbar (.lb-dataContainer) div. The reason for this is that I would love to replace the download button (CORS issues) as well as add some controls that add functionality that I'm looking for specifically. What

[2022-02-16 12:07] Asimov500 commented on #56
Yes I am having this problem also. Can I edit the css directly?

[2022-02-16 12:21] Asimov500 opened #121 "Over-riding Lightbox options in one component, over-rides them in all components."
I have one component where I am over-riding the lightbox, but it seems to add the same options where I am not over-riding the components. What if I want different options on different components?
[code]

[2022-02-16 12:26] Asimov500 opened #122 "Angular 12 and bootstrap scroll bar issue"
I am having an issue that when the lightbox is open, it is creating a scrollbar on the side.
I am using Angular 12 and bootstrap. I know this has been asked a long time ago, but is there a way to solve it?

The lightbox seems to be adding height to the page. Even if I have a page where there is already a scrollbar, the lightbox is making the page taller.

I have added the option _lightboxConfig.di

[2022-02-22 06:42] RajithaMendis opened #124 "Unable to change zoom button alignments"
I want to change the alignments of zoom buttons.

[2022-02-22 17:50] Christian1626 opened #125 "Insert a SanitizeURL in IAlbum"
Hi,

I'm trying to pass a sanitize blob url in my IAlbum, but **_src_** is wating for a **_string_** type. How can I manage to solve this problem ?

[code]

[2022-02-22 18:27] Christian1626 commented on #125
Solved it by overriding IAlbum:
[code]

[2022-02-22 18:27] #125 closed

[2022-03-01 14:07] basu-dev commented on #115
#127

[2022-03-05 01:29] Asimov500 commented on #122
Forgot to say I am using ngx-lightbox 2.30.
For now I have had to freeze the scrollbar, but I have used non angular lightbox, and it has never done this in other pages that I have made.
It seems the lightbox is adding alot of height, even though the image fits in the screen.

[2022-03-05 03:57] Asimov500 commented on #5
Did you find an answer to this. I am thinking a CSS over-ride might sort it.

[2022-03-09 02:52] h5aaimtron opened #129 "Feature Request: Allow download url to be overridden."
Right now the package attempts to pull the src passed in on the image object and trigger a save, however; this doesn't work when images are hosted on separate origins due to CORS. It would be a great feature if you can add a property, say "downloadUrl" that if populated, is used instead of the src value on download click. This allows users to proxy download when necessary while still loading the o

[2022-03-09 03:01] h5aaimtron commented on #129
[Pull Request](https://github.com/themyth92/ngx-lightbox/pull/130)

[2022-05-05 08:48] rqx110 commented on #54
any update on this issue?

[2022-05-13 14:37] inaitana commented on #129
This pull request introduced a potential breaking change, by making downloadUrl mandatory for IAlbum.

I know it's my fault for hard typing the variable (first argument to lightbox.open) to IAlbum[] when declaring it, whereas in your example it's declared as generic, but I can't see a reason why we shouldn't, since open() actually takes an IAlbum[] as its first argument.

And I really think downlo

[2022-05-13 15:15] h5aaimtron commented on #129
@themyth92

The change to make the property in the interface optional would be:

downloadUrl?: string

[2022-06-01 11:10] YanerTavuz opened #133 "Update to Angular 13/14 with Ivy instead of View Engine"
When building our project with ngx-lightbox the build warns about the library still using View Engine

[2022-06-01 11:43] YanerTavuz commented on #133
I also think you need to update the package ngx-filesaver to v13.0.0.

[2022-07-05 07:31] #110 closed

[2022-07-09 11:26] crdev opened #135 "Feature request: make the <img> referrerpolicy attribute customizable"
Sometimes external images do not get served if referrerpolicy is not set to "no-referrer" and the lightbox is sadly of no use in such cases.

[2022-07-14 14:26] AXeL-dev commented on #129
Pull request created: https://github.com/themyth92/ngx-lightbox/pull/136 .

[2022-08-24 06:47] likhita-naik opened #138 "couldn't able to zoom with mouse"
This is the only package which helped me in showing carousal of image in popup window,but the only problem is that images are unable zoom with mouse..it would be better if this feature  gets add .Kindly requesting you  to update this package with above mentioned feature..

[2022-09-01 15:17] GeoLoren985 opened #139 "Download separate file on preview"
Can we download separate file after image preview download button click. i want to attach high resolution image to download and low resolution image to preview

[2022-09-08 10:13] yunusyerli1 commented on #138
Hi, I have same problem

[2022-09-15 08:08] dylanvdmerwe commented on #133
Any news on this? Angular 15 will not support non-Ivy view engines.

[2022-09-21 05:55] tonyshare commented on #3
Same problem, i also place the css file link in <<angular.json>>
[code]

but the angular did not load the compile the css into the project.
instead i put the link in the `styles.css`, solve the problem.
the real reason is the css file not loaded.

[2022-09-25 09:53] YanerTavuz commented on #133
@themyth92 Any updates?

[2022-09-26 02:51] themyth92 commented on #133
Hey, PR always welcome. I dont use angular anymore so no idea how the new version works tbh.

[2022-10-01 09:59] YanerTavuz commented on #133
@themyth92 PR created

[2022-10-13 14:10] fjanon opened #142 "Demo doesn't work"
https://themyth92.com/project/ngx-lightbox

doesn't respond

[2022-11-09 11:54] #133 closed

[2022-11-14 07:30] mnkyjs opened #145 "Missing Release Notes / Version"
Since version 2.5.0 no more release notes have been released The current version is 3.0.0, could this please be updated? 😊

[2022-11-16 07:16] afiqwazien opened #147 "Blob url as src for the albums, unable to download"
Hi, i have updated to the latest, 3.0.0, but download still does not work when the url is blob url.
![image](https://user-images.githubusercontent.com/25052065/202111137-f782d1c6-e481-418e-99d4-2bf8991303b4.png)

From the error, seems like it will try to get the file name from the url but failed, because the url is blob url.

If theres any way that we can override this method and set the file name